.header{
    position:fixed;
    top:0;
    right: 0;
    left:0;
    z-index: 0;
}

.navbar{
    background-color:rgb(15, 64, 211) !important;
    position:right;

}
.navbar-brand{
    color: white !important;
    font-weight:bold !important;
}
.content{
    padding: 80px;
}
.nav-link{
    color: white !important
}
.Footer{
    text-align: center;
    background-color: rgb(101, 69, 214);
    padding: 0%;
    color:white;
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
}